<ion-header>
  <ion-navbar color="amazon1">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="container">
  <h2 class="id">Todays events</h2>

    <button  ion-button (click)="navigate()" color="dark"  outline>+</button>
    <button  ion-button (click)="navigate()" color="dark"  outline>Chat</button>

  <ion-list>
      <ion-item-sliding *ngFor="let result of results">
      <ion-item>   {{result.Name}} <ion-icon item-right name="md-arrow-dropleft"></ion-icon></ion-item>
    <ion-item-options>
        <button ion-button (click)="removeitem(result)"><ion-icon name="trash"></ion-icon>delete</button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <div *ngIf="isEmptyEvents" style="text-align:center;font-weight:bold;color:red;font-size:16px">
    No Events found.
  </div>

</ion-content>
